@import url("https://fonts.goggleapis.com/css2?family=Inter:wght@400;600;700&family=Sora:wght@400;600;700&display=swap");

:root {
    --color-primary: #000;
    --color-primary-alt: #ddd;
    --color-secondary: #fff;
    --color-secondary-disabled: #9ca3af;
    --font-family-primary: "Sora", sans-serif;
    --font-family-secondary: "Inter", "Sora", sans-serif;
    --font-size-h1: 2.5rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.25rem;
    --font-size-h4: 1.125rem;
    --font-size-text: 1rem;
}

@media all and (min-width: 1300px) {
    :root {
        --font-size-h1: 3.5rem;
        --font-size-h2: 2.5rem;
        --font-size-h3: 1.5rem;
        --font-size-h4: 1.25rem;
        --font-size-text: 1.125rem;
    }
}


/*
1. Prevent padding and border from affecting element width.
2. Allow adding a border to an element by just adding a border-width.
 */

*,
::before,
::after {
    /* 1 */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 2 */
    border-width: 0;
    /* 2 */
    border-style: solid;
    /* 2 */
    border-color: #e5e7eb;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    font-size: 100%;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-text);
    color: var(--color-primary);
    background-image: -webkit-repeating-linear-gradient(
    center center,
    var(--color-primary),
    var(--color-primary) 1px,
    var(--color-secondary) 1px,
    var(--color-secondary) 100%
    );
    background-size: 8px 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media all and (min-width: 1300px) {
    body {
        padding-top: 8rem;
    }
}

img {
    display: block;
}

a {
    color: inherit;
}

input,
button,
textarea,
select {
    font: inherit;
}
strong {
    font-weight: 600;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

h1 {
    line-height: 1.25;
    font-size: var(--font-size-h1);
    font-size: clamp(2rem, 4vw, var(--font-size-h1));
}

h2 {
    line-height: 1.25;
    font-size: var(--font-size-h2);
    font-size: clamp(2rem, 4vw, var(--font-size-h2));
}

/*
HEADER
 */

header {
    padding: 2rem .75rem 1rem .75rem;
    background-color: var(--color-secondary);
    border: 4px solid;
    box-shadow: 12px 12px 0 0 var(--color-primary);
    margin-bottom: 3em;
}

@media all and (min-width: 1300px) {
    header {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 100;
        border-bottom: 4px solid;
        box-shadow: none;
        width: 100%;
        margin-bottom: 0;
        min-width: 100%;
        padding: 0;
    }
}

header .container {
    min-width: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media all and (min-width: 1300px) {
    header .container {
        width: 100%;
        min-width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: space-between;
    }
}

header .container h1 {
    font-size: 1.5rem;
}

header .container h2 {
    font-size: 1.25rem;
}

header .container p {
    font-size: 1rem;
}

@media all and (min-width: 1300px) {
    header .container h1,
    header .container h2,
    header .container p {
        font-size: 1rem;
        padding: 1em 1.5em;
        line-height: 1;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}

header .container p a {
    text-decoration: none;
    font-weight: 600;
    border-bottom: 2px solid;
}

header .container p a:hover {
    border-width: 4px;
}

header .container > * + * {
    margin-top: 0.5em;
}

@media all and (min-width: 1300px) {
    header .container > * + * {
        margin-top: 0;
        border-left: 4px solid;
    }
}

header .link-social {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 1rem;
    padding: 0.25em 1em;
    border: 3px solid;
    box-shadow: inset -4px -4px 0 var(--color-primary-alt);
    width: 100px;
    min-width: 100px;
    text-align: center;
    align-content: center;
    margin-bottom: 0.5em;
}

header .link-social:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: 3px solid var(--color-primary);
    box-shadow: none;
}

@media all and (min-width: 1300px) {
    header .link-social {
        border: none;
        box-shadow:
                -3px 0 var(--color-primary),
                inset -4px -4px var(--color-primary-alt);
        text-decoration: none;
        color: var(--color-primary);
        font-size: 1rem;
        padding: 0 1em;
        width: 100px;
        min-width: 100px;
        text-align: center;
        align-content: center;
        height: 100%;
        min-height: 100%;
    }
}

header li {
    min-height: 100%;
    height: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: var(--color-secondary);
}

header ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: inline-flex;
}